/* #region GLOBAL STYLES */
body {
	margin: 0;
	color: #ffffff;
	font-family: "Refrigerator", Arial, sans-serif;
	background-image: url(assets/background.png);
	background-size: cover;
	background-repeat: no-repeat;
	user-select: none;
	cursor: url('assets/cursor.png'), auto;
}

:root {
	--bg-color: ;
	--rivals-yellow: #fede32;
}

a {
	color: var(--rivals-yellow);
}

a:hover {
	color: white;
}

img {
	-webkit-user-drag: none;
}

/* #endregion */

/* #region HERO BACKGROUND */
.hero-background {
	position: fixed;
	inset: 0;
	z-index: -1;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	filter: blur(2px);
}

/* #endregion */

/* #region SCROLLBAR STYLES */
::-webkit-scrollbar {
	width: 12px;
	height: 12px;
	display: none;
}

::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: #8991a4;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #747a89;
}

/* #endregion */

/* #region FONTS */
@font-face {
	font-family: "Refrigerator";
	src: url("assets/Refrigerator Deluxe Light.otf") format("opentype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Refrigerator";
	src: url("assets/Refrigerator Deluxe.otf") format("opentype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Refrigerator";
	src: url("assets/Refrigerator Deluxe Bold.otf") format("opentype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Refrigerator";
	src: url("assets/Refrigerator Deluxe Heavy.otf") format("opentype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Refrigerator";
	src: url("assets/Refrigerator Deluxe Extrabold.otf") format("opentype");
	font-weight: 900;
	font-style: normal;
}

/* #endregion */

/* #region LAYOUT */
.app {
	display: flex;
	height: 100vh;
}

.left {
	width: 50%;
	padding: 20px 20px 20px 0;
	box-sizing: border-box;
	text-align: center;
	overflow: hidden;
}

.right {
	width: 1200px;
	height: 600px;
	margin: calc((100vh - 600px) / 2) calc((100vh - 600px) / 4);
	background-color: #41496f;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 16px;
	min-height: 600px;
}

.rightcontent {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 18px 20px;
}

/* #endregion */

/* #region TOPBAR */
.topbar {
	border-radius: 8px 8px 0 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #222635;
	width: calc(100% - 40px);
	height: 70px;
	padding: 0 20px;
}

.infobutton {
	width: 50px;
	height: 50px;
	background-color: transparent;
	border: none;
	background-image: url(assets/infohover.png);
	background-size: cover;
	cursor: pointer;
}

.infobutton:hover {
	background-image: url(assets/info.png);
}

/* #endregion */

/* #region INPUTS & FORM */
label {
	font-size: 18px;
	color: #ffffff;
}

input,
select,
.calculate {
	box-sizing: border-box;
	width: 100%;
	margin: 6px 0 14px 0;
	padding: 8px;
	background: #ecf0fe;
	border-radius: 8px;
	color: #242632;
	font-size: 24px !important;
	font-family: "Refrigerator", sans-serif;
	font-weight: bold;
	border: none;
	cursor: pointer;
}

input {
	cursor: url("assets/cursor.png"), text;
}

input * {
	cursor: url("assets/cursor.png"), text;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	cursor: url("assets/cursor.png"), pointer;
}

.calculate:hover {
	background: var(--rivals-yellow);
	cursor: url("assets/cursor.png"), text;

}


.missioncal-holder {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.results {
	margin-top: 70px;
	height: 105px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.result {
	white-space: pre-line;
	color: #fff;
	font-size: 24px;
}

.rankinput {
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.rank-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.input-field {
	position: relative;
	width: 300px;
}

.input-mission {
	width: calc(50% - 10px);
}


.input-field input,
.input-field select {
	width: 100%;
	height: 50px;
	padding-left: 10px;
	font-size: 18px;
	border-radius: 8px;
	border: 0;
	outline: none;
	background: #fff;
}

.input-field label {
	position: absolute;
	left: 8px;
	top: calc(50% - 12.5px);
	font-size: 22px;
	font-weight: 500;
	color: #666;
	pointer-events: none;
	padding: 0 6px;
	background: #fff;
	transition: 0.25s ease;
	line-height: 1;
}

.input-field:focus-within input,
.input-field:focus-within select {
	box-shadow: 0 0 0 3px rgb(254, 222, 50);
}

.input-field:focus-within label,
.input-field input:valid~label,
.input-field select:valid~label {
	top: -7px;
	font-size: 14px;
	padding: 4px 8px;
	border-radius: 8px;
	color: #000;
	background-color: var(--rivals-yellow);
}

.rankdisplay {
	position: absolute;
	right: 8px;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: none;
}

.rankimage {
	width: 50px;
	height: 50px;
	object-fit: cover;
	object-position: center;
}

.rankpicker .input-field input {
	padding-right: 60px;
}

#dynamicInputs {
	height: 60px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* #endregion */

/* #region HERO SELECTOR LEFT */
.heropage {
	display: flex;
	justify-content: space-around;
	background: #181b24;
	cursor: pointer;
	width: 100%;
}

.hero-select {
	padding: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 28px;
}

.heropage:hover .hero-select {
	color: var(--rivals-yellow);
}

.heropage:hover {
	color: var(--rivals-yellow);
}

.hero-box {
	text-align: center;
	overflow: hidden;
	height: 100%;
	margin-top: 20px;
}

.hero-icon {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#heroImg {
	height: 100%;
	/* slightly bigger to crop ~10% top/bottom */
	object-fit: cover;
	object-position: top;
	/* center the crop */

	/* Mask */
	-webkit-mask-image: url("assets/displayicon/mask.png");
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: contain;
	-webkit-mask-position: center;
	mask-image: url("assets/displayicon/mask.png");
	mask-repeat: no-repeat;
	mask-size: contain;
	mask-position: center;
}

.herotriangle {
	z-index: -1;
	position: absolute;
	background-color: #222635;
}

#herobgcolor {
	margin-left: 200px;
	height: 700px;
	width: 700px;
	position: fixed;
	inset: 0;
	z-index: -2;
	/* behind heroBg */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	-webkit-mask-image: url("assets/background/mask.png");
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: contain;
	-webkit-mask-position: center;
	mask-image: url("assets/background/mask.png");
	mask-repeat: no-repeat;
	mask-size: contain;
	mask-position: top;
}

#herologo {
	margin-left: 265px;
	opacity: 50%;
	height: 300px;
	width: 300px;
	position: fixed;
	inset: 0;
	z-index: -1;
	/* behind heroBg */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.hero-name {
	margin-top: 10px;
	font-weight: bold;
	font-size: 28px;
}

/* #endregion */

/* #region HERO GRID */
.hero-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
	gap: 8px;
	max-height: calc(95% - 16px);
	overflow-y: auto;
}

@media (min-width: 1920px) {
	.hero-grid {
		grid-template-columns: repeat(10, 1fr);
	}
}

.hero-card {
	cursor: pointer;
	text-align: center;
	background: #0f0f0f;
	box-sizing: border-box;
	background-image: url(assets/herobg.png);
	margin: 5px;
}

.hero-card>div {
	font-family: "Refrigerator", sans-serif;
	font-weight: 900;
	font-size: 16px !important;
	text-align: left;
	background-color: #181b23;
	color: #7f859a;
}

.hero-card:hover {
	border: 5px #ffea52 solid;
	margin: 0px;
}

.hero-card:hover>div {
	background-color: #ffea52;
	color: #242730;
}

.hero-card img {
	width: 100%;
	height: 190px;
	display: flex;
	align-items: flex-end;
	object-fit: cover;
}

.hero-card div {
	padding: 6px;
	font-size: 0.85rem;
}

/* #endregion */

/* #region MODALS */
.modal {
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0, 0.85);
	display: none;
	align-items: center;
	justify-content: center;
}

.modaltop {
	display: flex;
	justify-content: space-between;
}

.modaltop>* {
	width: 250px;
}

.modaltop>h3 {
	width: 33%;
}

.modal-content {
	background: #222134;
	padding: 20px;
	width: 90%;
	height: 80%;
	max-width: 1800px;
	max-height: 80%;
	overflow: hidden;
}

.modaltop>h3 {
	font-size: 30px;
	margin: 0 0 20px;
	text-align: center;
}

/* #endregion */

/* #region INFO PANELS */
.infobar {
	background-color: #a6a4c3;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	color: #fff;
	font-size: 18px;
	border-radius: 0 0 8px 8px;
	min-height: 70px !important;
}

.infobar a:hover {
	color: #ff8522;
}

.info-panel {
	position: fixed;
	inset: 0;
	display: none;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.7);
	z-index: 200;
}

.infocontent {
	height: 80%;
	aspect-ratio: 16/9;
	border-radius: 16px;
	background: #181b24;
	border: 2px solid var(--rivals-yellow);
	padding: 20px;
	display: flex;
	justify-content: center;
	align-self: center;
}

.infocontent>div {
	height: 100%;
	width: 100%;
	background-image: url("assets/usage.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* #endregion */

/* #region CREDITS PANEL */
.creditsbutton {
	color: var(--rivals-yellow);
	text-decoration: underline;
}

.credits-panel {
	position: fixed;
	inset: 0;
	display: none;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.7);
	z-index: 200;
}

.creditscreen {
	width: 80%;
	height: 60%;
	border-radius: 16px;
	background: #181b24;
	border: 2px solid var(--rivals-yellow);
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.madeby {
	font-size: 64px;
}

.specialthanks {
	font-size: 32px;
}

.creditsthanks {
	display: flex;
	gap: 64px;
}

.assistants {
	color: var(--rivals-yellow);
	font-size: 32px;
}

/* #endregion */

/* #region OTHER */
.arrowimg {
	height: 50px;
}

.proficiency {
	display: flex;
	flex-direction: column;
	align-items: left;
	gap: 8px;
	width: 100%;
}

.proficiency-text {
	font-size: 20px;
	font-weight: normal;
	color: #fff;
}

/* Slider*/
#pointsSlider {
	-webkit-appearance: none;
	/* remove default styling */
	height: 10px;
	/* track height */
	background: #737890;
	/* default track color */
	border-radius: 4px;
	outline: none;
	/* removing default appearance */
	-webkit-appearance: none;
	appearance: none;
	/* creating a custom design */
	width: 100%;
	/*  slider progress trick  */
	overflow: hidden;
}

#pointsSlider::-webkit-slider-runnable-track {
	height: 15px;
	background: #737890;
	border-radius: 16px;
}

#pointsSlider::-webkit-slider-thumb {
	/* removing default appearance */
	-webkit-appearance: none;
	appearance: none;
	/* creating a custom design */
	height: 15px;
	width: 15px;
	background-color: #ffcd34;
	border: 2px solid #ffcd34;
	/*  slider progress trick  */
	box-shadow: -600px 0 0 608px #ffcd34;
}

/* Retro Mode */
.retro-popup {
	position: fixed;
	top: 10%;
	left: 70%;
	text-align: center;
	width: 600px;
	background: #111;
	color: #fede32;
	padding: 10px 16px;
	border-radius: 6px;
	font-weight: bold;
	font-size: 64px;
	opacity: 0;
	transform: translate(-50%, -60%) scale(1);
	transition: opacity 0.3s ease, transform 0.3s ease;
	z-index: 9999;
}

.retro-popup.show {
	opacity: 1;
	transform: translate(-50%, -50%) scale(1);
}

/* More Info */

.aboutbutton {
	color: var(--rivals-yellow);
	text-decoration: underline;
}

.about-panel {
	position: fixed;
	inset: 0;
	display: none;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.7);
	z-index: 200;
}

.aboutscreen {
	width: 90%;
	height: 80%;
	border-radius: 16px;
	background: #181b24;
	border: 2px solid var(--rivals-yellow);
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.aboutscreen>* {
	text-align: center;
}

.aboutscreen>div {
	display: flex;
}

.aboutscreen>div>div>h2 {
	height: 50px;
}

.aboutscreen img {
	width: 680px;
}

/* #endregion */

/* #region RESPONSIVE DESIGN*/

@media (max-width: 1600px) {}

@media (max-width: 1000px) {
    body {
        background-position: center;
        overflow: hidden;
    }    
    
    .topbar {
        height: auto;
        padding: 10px;
    }    
    
    .app {
        flex-direction: column;
        height: auto;
    }    
    
    .left {
        width: 100%;
        padding: 10px;
    }    
    
    .right {
        width: 95%;
        height: auto;
        min-height: unset;
        margin: 20px auto;
        margin-top: 0;
        border-radius: 32px;
    }    
    
    .missioncal-holder {
        gap: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
    }    
    
    .input-mission {
        width: 100%;
        width: calc(100%);
    }    
        
    .rightcontent {
        height: 900px;
    }    
    
    .hero-box {
        height: 700px;
        margin-top: -100px;
        margin-bottom: -100px;
    }
    
    .result {
        font-size: 16px;
    }    
    
    .results {
        flex-direction: column;
        height: auto;
        gap: 10px;
    }    
    
    .infobutton {
        width: 100px;
        height: 100px;
        background-color: transparent;
        border: none;
        background-image: url(assets/infohover.png);
        background-size: cover;
        cursor: pointer;
    }    
    
    .infobutton:hover {
        background-image: url(assets/info.png);
    }    
    
    .modaltop>h3 {
        font-size: 64px;
        margin: 0 0 20px;
        text-align: center;
    }    
    
    .hero-card>div {
        font-size: 35px !important;
        height: 70px;
    }    
    
    .hero-card img {
        height: 300px;
    }
    .heropage {
        height: 100px;
        align-items: center;
        display: flex;
    }    
    
    .hero-select {
        padding: 10px;
        font-weight: bold;
        font-size: 48px;
    }    
    
    .hero-name {
        font-size: 48px;
    }    
    
    .heropage:hover .hero-select {
        color: var(--rivals-yellow);
    }    
    
    .heropage:hover {
        color: var(--rivals-yellow);
    }    
    
    .hero-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        gap: 12px;
        max-height: calc(95% - 16px);
        overflow-y: auto;
    }    
    
    #heroImg {
        height: 500px;
    }    
    
    .hero-background {
        z-index: -50;
        visibility: none;
        display: none;
        opacity: none;
    }    
    
    .proficiency {
        display: flex;
        flex-direction: column;
        align-items: left;
        gap: 8px;
        width: 100%;
    }    
    
    .proficiency-text {
        font-size: 48px;
        font-weight: normal;
        color: #fff;
    }    
    
    label {
        font-size: 100px;
        color: #ffffff;
    }    
    
    input,
    select,
    .calculate {
        font-size: 2600px !important;
        box-sizing: border-box;
        width: 100%;
        margin: 6px 0 14px 0;
        padding: 8px;
        background: #ecf0fe;
        border-radius: 8px;
        color: #242632;
        font-size: 50px !important;
        font-family: "Refrigerator", sans-serif;
        font-weight: bold;
        border: none;
        cursor: pointer;
    }    
    
    input {
        cursor: url("assets/cursor.png"), text;
    }    
    
    input * {
        cursor: url("assets/cursor.png"), text;
    }    
    
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        cursor: url("assets/cursor.png"), pointer;
    }    
    
    .calculate:hover {
        background: var(--rivals-yellow);
        cursor: url("assets/cursor.png"), text;    
    }    
        
    .results {
        margin-top: 350px;
        height: 105px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }    
    
    .result {
        white-space: pre-line;
        color: #fff;
        font-size: 48px;
    }    
    
    .rankinput {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }    
    
    .rank-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }    
    
    .input-field {
        position: relative;
        width: 400px;
        height: 110px;
    }    
    
    .topbar {
        border-radius: 32px 32px 0 0;
        padding: 0 20px;
    }    
    
    .topbar>h1 {
        font-size: 64px;
    }    
    
    .input-field input,
    .input-field select {
        width: 100%;
        height: 110px;
        padding-left: 10px;
        font-size: 40px;
        border-radius: 8px;
        border: 0;
        outline: none;
        background: #fff;
    }    
    
    .input-field label {
        position: absolute;
        left: 8px;
        top: calc(50% - 12.5px);
        font-size: 50px;
        font-weight: 500;
        color: #666;
        pointer-events: none;
        padding: 0 6px;
        background: #fff;
        transition: 0.25s ease;
        line-height: 1;
    }    
    
    .input-field:focus-within input,
    .input-field:focus-within select {
        box-shadow: 0 0 0 3px rgb(254, 222, 50);
    }    
    
    .input-field:focus-within label,
    .input-field input:valid~label,
    .input-field select:valid~label {
        top: -7px;
        font-size: 35px;
        padding: 4px 8px;
        border-radius: 8px;
        color: #000;
        background-color: var(--rivals-yellow);
    }    
    
    .rankdisplay {
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
    }    
    
    .rankimage {
        width: 50px;
        height: 50px;
        object-fit: cover;
        object-position: center;
    }    
    
    .rankpicker .input-field input {
        padding-right: 60px;
    }    
    
    #dynamicInputs {
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 24px;
    }    
    
    .infobar {
        background-color: #a6a4c3;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        color: #fff;
        font-size: 32px;
        border-radius: 0 0 32px 32px;
        min-height: 70px !important;
    }    
    
    .infobar a:hover {
        color: #ff8522;
    }    
    
    .infocontent {
        height: 80%;
        width: 70%;
        border-radius: 16px;
        background: #181b24;
        border: 2px solid var(--rivals-yellow);
        padding: 20px;
        display: flex;
        justify-content: center;
        align-self: center;
    }    
    
    .infocontent>div {
        width: 100%;
        background-image: url("assets/usagealt.png");
        background-size: contain;
    }    
    
    .retro-popup {
        position: fixed;
        top: 10%;
        left: 50%;
        width: 70%;
        text-align: center;
        background: #111;
        color: #fede32;
        padding: 10px 16px;
        border-radius: 6px;
        font-weight: bold;
        font-size: 64px;
        opacity: 0;
        transform: translate(-50%, -60%) scale(1);
        transition: opacity 0.3s ease, transform 0.3s ease;
        z-index: 9999;
    }    
    
    .retro-popup.show {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    .creditsbutton {
        color: var(--rivals-yellow);
        text-decoration: underline;
    }    
    
    .credits-panel {
        position: fixed;
        inset: 0;
        display: none;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.7);
        z-index: 200;
    }    
    
    .creditscreen {
        width: 90%;
        height: 600px;
        border-radius: 16px;
        background: #181b24;
        border: 2px solid var(--rivals-yellow);
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }    
    
    .madeby {
        font-size: 92px;
        margin: 0;
    }    
    
    .specialthanks {
        font-size: 64px;
    }    
    
    .creditsthanks {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 8px);
        place-items: center;
    }    
    
    .assistants {
        color: var(--rivals-yellow);
        font-size: 64px;
    }    
    
    .creditsend {
        font-size: 44px;
    }
    .aboutbutton {
        color: var(--rivals-yellow);
        text-decoration: underline;
    }    
    
    .about-panel {
        position: fixed;
        inset: 0;
        display: none;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.7);
        z-index: 200;
    }    
    
    .aboutscreen {
        width: 90%;
        height: 80%;
        border-radius: 16px;
        background: #181b24;
        border: 2px solid var(--rivals-yellow);
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }    
    
    .aboutscreen>* {
        text-align: center;
    }    
    
    .aboutscreen>h1 {
        font-size: 92px;
    }    
    
    .aboutscreen>div {
        display: flex;
        flex-direction: column;
    }    
    
    .aboutscreen>div>div {}    .aboutscreen>div>div>h2 {
        height: 50px;
        font-size: 48px;
    }
    .aboutscreen img {
        width: 100%;
    }
}
/* #endregion */